html,
body {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #353535 !important;
}

strong{
    color: #ED5338;
}
.ui.form .field > label {
    color: #ED5338;
}
button{
    color: #353535 !important;
    background-color: #ED5338 !important;
}
button:hover{
    color: #353535 !important;

    background-color: #c4452f !important;
}
button:active {
    color: #FFFFFF !important;
    background-color: #933524 !important;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
