@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
  vertical-align: middle;
}

.buttonAddModo {
  align-self: flex-end;
  margin-bottom: 1%;
}

.header-logo {
  display:flex;
  justify-content: space-between;
}

.closeButton {
  margin-right: 5%;
}